#miFooter {
	background-color: rgb(53, 52, 52);
	position: fixed;
	left: 0;
	bottom: 0;
	i {
		font-size: 20px;
		color: white;
		padding: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
#miFooter.dropdown-menu {
	position: fixed;
	left: 0;
	bottom: 0;
}