header {
	position: relative;
	background-color: #ffe17e;
	height: 100vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
	video {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 100%;
		min-height: 100%;
		width: 100%;
		height: auto;
		z-index: 0;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		visibility: visible;
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.5;
		z-index: 1;
	}
}